body {
    background-image: url("../images/green-background.png");
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bolder;
    color: black;
    font-style: italic;

}



.game-intro {
    padding: 0px;


}

.game-intro p {
    font-size: 18px;
    font-family: "Verdana";
    display: flex;
    justify-content: center;

}

.logo-img {
    width: 550px;
    border-radius: 10px;
    border: 10px solid black;
    margin-top: 0px;

}

.space-img {
    width: 120px;
    height: 120px;
    margin: 0px;
    padding-top: 0px;
}

.arrow-keys {
    width: 160px;
    height: 110px;
    margin-right: 10px;
}

#game-board {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#board {
    border: 10px solid black;
    margin-top: 100px;
    border-radius: 10px;
    /*     background-image: url('../images/background\ nyc.jpg');
    background-size: cover;
    background-repeat: no-repeat; */



}

#start-button {
    background-color: transparent;
    font-size: 18px;
    font-style: oblique;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
    border: transparent;
    outline: 0;
    cursor: pointer;
    caret-color: red;

}

.start-logo {
    width: 150px;
    height: 150px;

}
.first-p{
    margin: 10px 0px 5px 0px;

}
.second-p{
    margin: 0px 0px 0px 0px;
}

.giphy-arrows{
    display: flex;
    justify-content: center;
    align-items: center;

}
.like-this{
    color: rgba(20, 83, 20, 0.984);
    font-size: medium;
    font-style: normal;
}
.green-arrow{
    margin-left: 5px;
    margin-right: 5px;
}
.giphy-border{
       border-radius: 50%; 

}