body {
    background-image: url("../images/green-background.png");
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}



.game-intro{
    padding: 0px;
    

}

.game-intro p {
    font-size: 18px;
    font-family: "Verdana";

}

.logo-img{
    width: 500px;
    
}

.arrows-img{
    width: 150px;
}

#game-board{
    
    padding: 0px 0px;
}

#board {
    border: 1px solid red;
    background-color: beige;
    margin-top: 60px;
    
  }

  #start-button{
    background-color: rgb(217, 69, 113);
    font-size: 18px;
    font-style: oblique;
    font-weight: bold;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    border: none;
  }