body {
    background-image: url("../images/green-background.png");
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bolder;
    color: black;
    font-style: italic;

}



.game-intro {
    padding: 0px;


}

.game-intro p {
    font-size: 18px;
    font-family: "Verdana";
    display: flex;
    justify-content: center;

}

.logo-img {
    width: 550px;
    border-radius: 10px;
    border: 10px solid  black;
    border-image-outset: blue;
    margin-top: 50px;
    
    
}

.space-img {
    width: 120px;
    height: 120px;
    margin: 0px;
    padding-top: 0px;
}

.arrow-keys {
    width: 160px;
    height: 110px;
    margin-right: 10px;
}

#game-board {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#board {
    border: 10px solid black;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;



}

#start-button {
    background-color: transparent;
    font-size: 18px;
    font-style: oblique;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
    border: transparent;
    outline: 0;
    cursor: pointer;
    caret-color: red;    

}

.start-logo {
    width: 150px;
    height: 150px;
    

}
.first-p{
    margin: 15px 0px 5px 0px;

}
.second-p{
    margin: 0px 0px 0px 0px;
}

.giphy-arrows{
    display: flex;
    justify-content: center;
    align-items: center;

}
.like-this{
    color: rgba(20, 83, 20, 0.984);
    font-size: medium;
    font-style: normal;
}
.green-arrow{
    margin-left: 5px;
    margin-right: 5px;
}
.giphy-border{
       border-radius: 50%; 

}
.win{
    color: aqua;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.818);
    padding: 20px;
        --s: 0.1em;   /* the thickness of the line */
        --c: red; /* the color */
        
        color: #0000;
        padding-bottom: var(--s);
        background: 
          linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
          linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
        -webkit-background-clip: text,padding-box;
                background-clip: text,padding-box;
        transition: 0.5s;
      

}
.win:hover {--_p: 100%}


